<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><base href="/chamit-colegio/">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">New Asignatura</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/salvar}"
					th:object="${aluAsig}" method="post">
					<div class="row">
						<label for="select-alumno" class="form-group">Alumno</label>
						<select
							th:field="*{alumnoId}" id="select-alumno">
							<div>
								<option th:each="alumnoEntry : ${alumnos}"
									th:value="${alumnoEntry.id}" th:text="${alumnoEntry.nombre}"></option>
							</div>
						</select>
						 <label id="asignatura-label" for="select-asignatura">Asignatura</label>
						  <select th:field="*{asignaturaId}" id="select-asignatura">
							<div>
								<option th:each="asignaturaEntry : ${asignaturas}" th:value="${asignaturaEntry.id}"
									th:text="${asignaturaEntry.nombre}"></option>
							</div>
						</select>
					</div>
					<div class="row">
						<div class="col-md-6 mt-5">
							<input type="submit" class="btn btn-primary"
								value="Relacionar Asignatura Alumno">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>