<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><base href="/chamit-colegio/">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Asignar nota</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/notaExamen}"
					th:object="${registroExamen}" method="post">
					<div class="row">
						<table border="1">
							<thead>
								<tr>
									<th>Alumno</th>
									<th>Nota</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty(examenAlu)}">
									<td colspan="2">No Examen Available</td>
								</tr>

								<!--<tr th:each="alumno, itemStat : *{examenAlu}">-->
								<tr th:each="curso, itemStat : ${registroExamen.examenAlu}">
									<td><input type="text"
										th:name="|examenAlu[${itemStat.index}].nombre|"
										th:value="${curso.getNombre()}" /></td>
									<td><input type="number"
										th:name="|examenAlu[${itemStat.index}].nota|" /></td>

									<td><input hidden th:name="|examenAlu[${itemStat.index}].cursoId|"
										th:value="${curso.getCursoId()}" /></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-md-6 mt-5">
							<input type="submit" class="btn btn-primary"
								value="Actualizar notas">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>