<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<base href="/chamit-colegio/">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${alumnos}" class="container my-5">
		<div class="row">
			<div class="col-md-6">
				<h2 th:case="null">No alumnos yet!</h2>
				<div th:case="*">
					<h2 class="my-5">Alumnos</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Apellidos</th>
								<th>Dni</th>
								<th>Edad</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="alumno : ${alumnos}">
								<td th:text="${alumno.nombre}"></td>
								<td th:text="${alumno.apellidos}"></td>
								<td th:text="${alumno.dni}"></td>
								<td th:text="${alumno.edad}"></td>
								<td><a th:href="@{/editAlumno/{id}(id=${alumno.id})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
								<td><a th:href="@{/deleteAlumno/{id}(id=${alumno.id})}"
									class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a th:href="@{/signup}" class="btn btn-primary"><i
						class="fas fa-user-plus ml-2"></i></a>&nbsp <a th:href="@{/crear}"
						class="btn btn-primary"><i class="fas fa-ad ml-2"></i></a> &nbsp <a
						th:href="@{/crearAlumno}" class="btn btn-primary"><i
						class="fas fa-user-graduate ml-2"></i></a>
				</p>

			</div>
		</div>
	</div>
</body>
</html>